.contact{
    padding: 3.5rem 1.5rem 1.5rem;
    overflow: scroll;
}
.contact-title{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    text-align: center;
}
.contact-title h2{
    margin-bottom: 1rem;
}
.contact-form{
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    border: none;
}
.contact-form input,
.contact-form textarea{
    background-color: #162038b9;
    border: none;
    outline: none;
    padding: .6rem;
    font-size: 1rem;
    border-radius: 1rem;
}
.contact-form input:focus,
.contact-form textarea:focus{
    box-shadow: 2px 2px 5px var(--btn);
}
.contact-form textarea{
    height: 150px;
    resize: none;
}
.contact-form button{
    padding: .5rem;
    margin-bottom: .5rem;
    border: none;
    cursor: pointer;
}
.contact-form button:hover{
    transform: none;
}

@media screen and (width >= 768px) {
    .contact{
        padding-left: calc(1.5rem + 60px);
    }
}


