.container{
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    position: absolute;
}
.slides-container{
    width: fit-content;
    height: 100vh;
    transform: rotate(90deg) translateX(-100vh);
    transform-origin: bottom left;
    display: flex;
    align-items: flex-end;
}
.slide{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: appear 1s forwards;
}

@keyframes appear{
    0%{
        opacity: 0;
        top: 50px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
