.contact{
    max-width: 1600px;
    width: fit-content;
    display: flex;
    padding-top: 3.5rem;
    position: relative;
}
.contact-info,
.contact-form{
    width: 100vw;
    max-width: 800px;
    padding: 0 1.5rem 1.5rem;
    font-size: 1.2rem;
    overflow: scroll;
}
.contact-title{
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    background-color: #162038b9;
}
.contact-title h2{
    margin-bottom: 1rem;
}
.contact-form h2{
    margin-bottom: 1rem;
    text-align: center;
}
.contact-social{
    margin-top: 3rem;
}
.contact-social li{
    padding: .5rem 0;
}
.contact-social i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.contact-social li:hover i{
    transform: scale(1.3);
    transition: transform .4s;
}
.contact-form form,
.form-name{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    border: none;
}
.contact-form input,
.contact-form textarea{
    background-color: #162038b9;
    border: none;
    outline: none;
    padding: .6rem;
    font-size: 1rem;
    border-radius: 1rem;
}
.contact-form input:focus,
.contact-form textarea:focus{
    box-shadow: 2px 2px 5px var(--btn);
}
.contact-form textarea{
    height: 150px;
    resize: none;
}
.contact-form button{
    padding: .5rem;
    margin-bottom: .5rem;
    border: none;
    cursor: pointer;
}
.contact-form button:hover{
    transform: none;
}

@media screen and (width >= 768px) {
    .contact{
        width: 100vw;
        padding: 3.5rem 1.5rem 0;
        padding-left: calc(1.5rem + 60px);
    }
    .contact-info,
    .contact-form{
        width: 50%;
    }
    .contact-form{
        align-self: flex-end;
    }
    .form-name{
        flex-direction: row;
    }
    .form-name input:first-of-type{
        flex: 1;
    }
}
@media screen and (width >= 768px) and (height >= 900px){
    .contact{
        flex-direction: column;
    }
    .contact-info,
    .contact-form{
        width: 100%;
    }
}
@media screen and (width >= 1440px){
    .contact{
        padding-right: calc(1.5rem + 60px);
    }
}
