.projects{
    padding: 3rem 1.5rem 1.5rem;
}
.projects-title{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.projects-title{
    margin-bottom: .5rem;
}
.projects-cards{ 
    height: calc(100vh - 130px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: scroll;
}
.card{
    width: max(300px, 25%);
    height: max(230px, 25%);
    overflow: hidden;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    border: 1px solid #FFF;
}
.card-title{
    height: 100%;
}
.card-title h3{
    padding: .5rem;
    font-size: 1.3rem;
}
.card-title img{
    width: 100%;
    height: calc(100% - 42px);
    transition: filter .3s;
    align-self: flex-end;
}
.card-info{
    width: 100%;
    position: absolute;
    top: 3rem;
    z-index: 20;
    opacity: 0;
    transition: opacity .5s;
}
.card-info p{
    margin: 1.5rem 1rem;
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.dark p{
    color: var(--background);
}
.card:hover .card-info{
    opacity: 1;
}
.card:hover img{
    filter: blur(10px);
    opacity: .5;
}

@media screen and (width >= 768px){
    .projects{
        padding-left: calc(1.5rem + 60px);
    }
}  